.App {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(var(--clr-pale-red), 0.1),
    rgb(var(--clr-strong-red), 0.2)
  );
}

.logo-wrapper {
  padding: 2rem;
}

.logo-wrapper > img {
  width: 32.2%;
}

.statement-wrapper {
  padding-inline: 2rem;
  padding-top: 4rem;
}

.statement-wrapper > div:first-child {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.71rem;
  color: rgb(var(--clr-desaturated-red));
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.04;
  padding-bottom: 1.1rem;
}
.statement-wrapper > div:first-child span {
  font-weight: 600;
  color: rgb(52, 52, 52);
}

.statement-wrapper > div:last-child {
  text-align: center;
  color: rgb(var(--clr-desaturated-red));
  line-height: 1.6;
  font-size: 0.86rem;
  font-weight: 600;
  padding-bottom: 2.1rem;
}
