/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* Colors */

  /* Primary */
  --clr-desaturated-red: rgb(206, 151, 151);
  --clr-Soft-Red: rgb(249, 98, 98);
  /* Neutral */
  --clr-Dark-Grayish-Red: rgb(65, 58, 58);

  /* Gradient */
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-size: 1rem;
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
